.square{
    text-align: center;
}

button { 
    width: 100%;
    height: 100%;
    
    margin: 3px;
}

.isDisabled{
    color: black !important;
    font-size: 2rem !important;
    background-color: rgb(189, 185, 185) !important;
}

/* 
.hide{
    display: none;
}

.isHovered:hover .hide{
    display: block;
} */


.square__icon{
    font-size: 100px;
}