<header>
    <h1 class="mat-display-3" >Tic-Tac-Toe</h1>

    <p class="mat-body" >Play the world famous game here!</p>
    <div class="header__icons">
        <mat-icon [inline]="true" color="primary">close</mat-icon>
        <mat-icon [inline]="true" color="warn">fiber_manual_record</mat-icon>
    </div>
    
</header>

<section class="board">
    <app-board></app-board>
</section>

<header class="unique__header">
    <h1 class=" mat-display-3" >Unique Number Board</h1>
</header>
<section class="board">
    <app-unique-number-board></app-unique-number-board>
</section>